<h1>Edit user</h1>
<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :weight %>
    <%= form.text_field :weight %>
  </div>
  <div>
    <%= form.label :height %>
    <%= form.text_field :height %>
  </div>
  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.text_field :password_digest %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end%>